<div class="detalle-pelicula" *ngIf="peliculaSeleccionada.nombre !== ''">
    <h2>Detalles de la Película</h2>
    <div>
        <strong  class="nombre-pelicula">{{ peliculaSeleccionada.nombre }}</strong> 
    </div>
    <div class="tipo-y-fecha">
        <strong>Tipo:</strong> {{ peliculaSeleccionada.tipo }}
        <span class="fecha-estreno"><strong>Estreno:</strong> {{ peliculaSeleccionada.fechaEstreno | date: 'dd/MM/yyyy' }}</span>
    </div>
    <div>
        <strong></strong>
        <img [src]="peliculaSeleccionada.fotoPortada" alt="Foto de Portada" style="max-width: 300px;">
    </div>
</div>